*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
    display: inline;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua ;
}
.outer{

}
@media (max-width: 500px){
    .navbar{
        background-color: red;
    }
}