* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #a1b8e0;
}

h1 {
    text-decoration: underline;
    margin: 22px 107px;
}
.container {
    width: 350px;
}

.card {
    background: #b0d2c5;
    padding: 25px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;
}

.pfp {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #ddd;
}

h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

p {
    font-size: 15px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.4;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

button {
    flex: 1;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background: #4A90E2;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1f6fce;
}
